<div class="board {{ player_turn }}" id="board">
    <div class="cell {{ args.0 }}" style="cursor: {{ cursor_args.0 }};" id="0" onClick="function send_move(x)
     {socket.emit('move', $(x).attr('id'));} send_move(this);" data-cell></div>
    <div class="cell {{ args.1 }}" style="cursor: {{ cursor_args.1 }};" id="1" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.2 }}" style="cursor: {{ cursor_args.2 }};" id="2" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.3 }}" style="cursor: {{ cursor_args.3 }};" id="3" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.4 }}" style="cursor: {{ cursor_args.4 }};" id="4" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.5 }}" style="cursor: {{ cursor_args.5 }};" id="5" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.6 }}" style="cursor: {{ cursor_args.6 }};" id="6" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.7 }}" style="cursor: {{ cursor_args.7 }};" id="7" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.8 }}" style="cursor: {{ cursor_args.8 }};" id="8" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.9 }}" style="cursor: {{ cursor_args.9 }};" id="9" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.10 }}" style="cursor: {{ cursor_args.10 }};" id="10" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.11 }}" style="cursor: {{ cursor_args.11 }};" id="11" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.12 }}" style="cursor: {{ cursor_args.12 }};" id="12" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.13 }}" style="cursor: {{ cursor_args.13 }};" id="13" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.14 }}" style="cursor: {{ cursor_args.14 }};" id="14" onClick="test(this);" data-cell></div>
    <div class="cell {{ args.15 }}" style="cursor: {{ cursor_args.15 }};" id="15" onClick="test(this);" data-cell></div>
  </div>