<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tic Tac Toe</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script>
        $(function(){
            window.setInterval(function(){
                correctColor()
            }, 500)
            function correctColor(){
                $.ajax({
                    url:"/correct",
                    type: "POST",
                    dataType: "json",
                    success: function(data){
                        $(div1).replaceWith(data);
                    }
                })
            }
        });
        function changeColor(){
            $.ajax({
                url:"/change",
                type: "POST",
                dataType: "json",
                success: function(data){
                    $(div1).replaceWith(data);
                }
            })
        }
    </script>
</head>
<body>
    <div id="div1">
        <div id="my_div" style="background-color: {{ color_name }}; width: 200px; height: 200px" onclick="changeColor()">
        </div>
    </div>
</body>
</html>